# General files for the project
__pycache__/
.pytest_cache/
.mypy_cache/
node_modules/
licenses.dump
.python-version
**/junits/
.coverage
.pyre
.ruff_cache
.cache
.bin
.reports

# Python specific files
/venv/**
/.vscode/**
